* {
    padding: 0;
    margin: 0;
}

body {
    font-family: verdana, sans-serif, arial;
    padding-top: 25px;
}

a {
    color: #123;
    text-decoration: none;
}

pre, code {
    font-size: 1em;
    font-family: monospace, consolas;
}

code {
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    background-color: #f0f0f0;
    display: block;

    border-top: 1px solid #77B446;
    border-bottom: 1px solid #77B446;
    border-left: 10px solid #77B446;

    padding: 5px;
    margin: 15px 8px;
    overflow: auto;

    white-space: pre-wrap;
}

input {
    width: 260px;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 5px;
}

input[type=submit] {
    width: 480px;
}

textarea {
    width: 480px;
    height: 110px;
    border: 1px solid #000;

    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input, textarea {
    background-color: #fafafa;

    font-size: 12pt;
    font-family: helvetica, arial;
}

small {
    font-size: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

abbr {
    cursor: help;
}

abbr, em {
    font-family: inherit;
    font-size: inherit;
}

em {
    color: #DF7401;
    font-style: italic;
}

.CodeMirror {
    font-size: 12pt;
    font-family: consolas;
    height: 400px;
}

.cm-tab {
    color: #aaa;
}

.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}

p {
    padding: 5px;
}

#select {
    width: 600px;
    margin-left: 200px;
}

#mode {
    float: right;
}

#theme {
    float: left;
}

#dialog {
    border: 1px solid #eee;
}

#open-files {
    float: left;
    width: 180px;
    padding-left: 25px;
}

#open-files h4 {
    font-weight: normal;
    border-bottom: 1px solid #eee;
}

#open-files > ul {
    list-style-type: none;
    overflow: auto;
}

#open-files > ul li {
    line-height: 25px;
}

#open-files > ul li:before {
    content: ' - ';
}

#open-files > ul li:hover {
    cursor: pointer;
}
